<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'duimu,
    repo: 'https://github.com/duimu/duimu.github.io.git',
    oauth: {
        client_id: '1b76c0bf655bc743a63e,
        client_secret: '3fb73bd40d3a357c0b3c295ee00005bee075ea84',
    },
});
gitment.render('gitmentContainer');
</script>
---
layout: default
---

<div class="box">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-meta">{{ page.date | date: "%-d %B, %Y. It was a %A." }} <a style="color:grey" href="{{ BASE_PATH }}{{ post.url }}#disqus_thread"></a></span><hr/>

    <span class="post-text">{{ content }}</span>
    {% include post-pagination.html %}
</div>

<!--<div class="box">-->
    <!-- google ads code box -->
<!--</div>-->

{% include JB/comments %}
